* {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif; 
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  z-index: -2;
  /* выше установили ограничения для секции */
}

.logo {
  height: 32px;
  width: 183px;
  z-index: 99;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  line-height: 96px;
  font-weight: bold;
  font-size: 102px;
  max-width: 730px;
  margin: 0 0 0 64px;
  padding: 0;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  z-index: 99;
}

.header__link{
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 608px;
  width: 765px;
  z-index: -1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
}

.description {
  margin: 100px 0;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
  box-sizing: content-box;
}

.two-columns_brief {
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns_main-text {
  width: 80%;
  min-width: 784;
}

.two-columns_paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns_paragraph:nth-of-type(2) {
  margin: 30px 0;
}

.two-columns_span-accent {
  font-weight: bold;
  margin: 30px 0;
}

.digits {
  margin-bottom: 100px;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  min-width: 60%;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  min-width: 60%;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1100px;
  margin: auto;
  padding: 0;
}

.table__cell {
width: 250px;
margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.feynman {
  position: relative;
  padding-top: 100px;
  min-height: 800px;
  max-height: 956px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  max-width: 648px;
  margin: auto;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  text-align: center;
  margin-top: 70px;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  padding: 90px 0;
  background-color: #1f1f1f;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-position: top right -210px;
  background-size: 877px 877px;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.footer {
  position: relative;
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
  color: white;

}

.logo_place_footer {
  height: 35px;
  width: 183px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  margin: auto;
  height: 250px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50%;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0 16px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__column_heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin: 0 10px 0 0;
}
